
<h2>@ViewBag.Title</h2>
<div class="hie-containerTop" style="text-align:center">
    <img src="../../Images/logo_persi.jpg" />
    <address>
        <h4><b>Persistent Systems Limited</b></h4>
        4th and 5th Floor,Block 9<br />
        Pritech Park-SEZ<br />
        Behind RMZ Ecospace<br />
        Survey Nos. 51 to 64/4 & 66/1<br />
        Bellandur Village,Varthur Hobli<br />
        Bengaluru,Karnataka 560103<br />
        <abbr title="Phone">P:</abbr>
        080-67721001<br />
        <a href="www.persistent.com">www.persistent.com</a>
    </address>
    <address>
        <h5><b>Contact :</b></h5>
        <a href="mailto:Rashmi_Purbey@persistent.com">Rashmi_Purbey@persistent.com</a><br />
        <a href="mailto:vani_mankad@persistent.com">Vani_Mankad@persistent.com</a>
    </address>
</div>