@{
    ViewBag.Title = "Home Page";
}


<div class="hie-containerTop">
    <div class="row">
        <div>
            <h2>What is HIE?</h2>

            <p>
                Electronic health information exchange (HIE) allows doctors, nurses, pharmacists, other health care providers and patients to appropriately access and securely share a patient’s vital medical information electronically—improving the speed, quality, safety and cost of patient care.
                Every state can have their own HIE and can have all hospitals participate in the HIE program to share patient’s records.
                HIEs are single source of collating all patient records from disparate sources and act as an mediator between various hospitals.

            </p>
            <p>Appropriate, timely sharing of vital patient information can better inform decision making at the point of care and allow providers to</p>
            <ul>
                <li>Avoid readmissions</li>
                <li>Avoid medication errors</li>
                <li>Improve diagnoses</li>
                <li>Decrease duplicate testing</li>
            </ul>
            <h2>Benefits of HIE</h2>
            <p>
                <ul>
                    <li>Improves public health reporting and monitoring</li>
                    <li>
                        Provides the backbone of technical infrastructure for leverage by national and State-level initiatives
                    </li>
                    <li>
                        Provides a basic level of interoperability among various sources of patient data maintained by individual physicians and organizations
                    </li>
                    <li>
                        Stimulates consumer education and patients' involvement in their own health care
                    </li>
                    <li> Increases efficiency by eliminating unnecessary paperwork</li>
                </ul>
            </p>
        </div>
    </div>
</div>


